* {
  box-sizing: border-box;
}

html,
body {
  min-width: 360px;
  height: 100%;
  min-height: 100vh;
}

body {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  gap: 0;
  font-family: 'PT Root UI', Helvetica, Arial, sans-serif;
  font-weight: 400;
  background-color: var(--background-color);

  &#index {
    section.left {
      grid-column: 1 / 4;
    }

    section.center {
      grid-column: 4/17;
    }

    section.right {
      grid-column: 17/25;

      article {
        padding: var(--index-right-content-bar-padding);
      }
    }
  }

  &:not(#index) {
    section.left {
      grid-column: 1 / 7;
      /* padding-top: 50px; */
    }

    section.right {
      grid-column: 7/25;

      article {
        padding: 40px 0 0;
      }
    }
  }
}

section.left,
section.center,
section.right {
  min-height: 100vh;
}

section.left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 0 40px 40px;

  .mainMenu {
    position: absolute;
    top: 160px;
    left: 40px;
    font-size: var(--internal-mainnemu-font-size);
    line-height: var(--internal-mainnemu-line-height);
  }

  .moreMenu {
    font-size: var(--internal-more-menu-font-size);
    line-height: var(--internal-more-menu-line-height);

    a {
      display: block;
      margin-right: 0;
    }
  }
}

section.center {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 100px 0 40px 0;

  .mainMenu {
    /* margin-top: 80px; */
    font-size: var(--mainmenu-font-size);
    line-height: var(--mainmenu-line-height);
  }
}

.homeButton {
  display: block;
  width: var(--logo-width);
  height: var(--logo-height);
  /* margin-top: 40px; */
  /* margin-left: 40px; */
  background-image: url('../images/day.svg');
}

.mainMenu {
  font-family: 'Arial Narrow', Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-transform: uppercase;

  a {
    /* display: inline-block; */
    float: left;
    clear: left;
    color: var(--muted-text-color);
    text-decoration: none;

    &:hover,
    &.hover,
    &.active {
      color: var(--default-text-color);
    }
  }
}

.moreMenu {
  font-family: 'Arial Narrow', Arial, Helvetica, sans-serif;
  font-size: var(--moremenu-font-size);
  line-height: var(--moremenu-line-height);
  font-weight: 700;
  text-transform: uppercase;

  a {
    display: inline-block;
    margin-right: 20px;
    color: var(--muted-text-color);
    text-decoration: none;

    &:hover,
    &.hover,
    &.active {
      color: var(--default-text-color);
    }
  }
}

.languageButton {
  font-family: 'Arial Narrow', Arial, Helvetica, sans-serif;
  font-size: var(--moremenu-font-size);
  line-height: var(--moremenu-line-height);
  font-weight: 700;
  text-transform: uppercase;
  color: var(--muted-text-color);
  text-decoration: none;

  &:hover {
    color: var(--default-text-color);
  }
}

section.right {
  overflow-y: scroll;

  &:not(#index) {
    border-left: solid 1px var(--border-color);
  }

  article {
    max-width: 720px;
    /* padding: 40px 40px 0 40px; */
    margin: 0 auto;
    font-family: 'PT Root UI', Arial, Helvetica, sans-serif;

    /* h2 {
      color: var(--default-text-color);
      font-size: var(--h2-font-size);
      font-weight: 700;
      line-height: 140%;
    }

    p {
      margin-top: 20px;
      color: var(--default-text-color);
      font-size: var(--p-font-size);
      font-weight: 400;
      line-height: 165%;
    } */
  }
}

.zakharday {
  width: 100%;
  height: auto;
  margin-bottom: 32px;
}

body#index .zakharday {
  aspect-ratio: 495 / 659;
  background-image: url(../images/zakharday.jpg);
  background-size: cover;

  filter: grayscale();
  mix-blend-mode: hard-light;

  &:hover {
    filter: none;
    mix-blend-mode: normal;
  }
}

body#about .zakharday {
  aspect-ratio: 720 / 502;
  background-image: url(../images/zakharday_about.jpg);
  background-size: cover;
}

@media (max-width: 1300px) {
  body:not(#index) {
    display: block;

    .languageButton {
      display: none;
    }

    section.left {
      .mainMenu,
      .moreMenu {
        display: none;
      }
    }

    section.right {
      article {
        padding: 40px;
      }
    }
  }
}

@media (max-width: 1200px) {
  body#index {
    section.center {
      grid-column: 4 / 22;
    }

    section.right {
      display: none;
    }
  }
}

@media (max-width: 1043px) {
  body {
    display: block;

    &#index {
      .homeButton {
        position: absolute;
        top: 50px;
        left: 40px;
      }

      .mainMenu {
        position: absolute;
        top: 160px;
        left: 40px;
      }

      .moreMenu {
        position: absolute;
        left: 40px;
        bottom: 40px;

        a {
          display: block;
          margin-right: 0;
        }
      }

      .languageButton {
        position: absolute;
        right: 40px;
        bottom: 40px;
      }
    }
  }
}

/* @media (max-width: 600px) {
  body:not(#index) {
    section.right {
      article {
        padding: 20px;
      }
    }

    .homeButton {
      position: absolute;
      top: 30px !important;
      left: 20px !important;
    }
  }
} */
