* {
  box-sizing: border-box;
}

html,
body {
  min-width: 360px;
  height: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  gap: 0;
  font-family: 'PT Root UI', Helvetica, Arial, sans-serif;
  font-weight: 400;
  background-color: var(--background-color);

  &#index {
    section.left {
      grid-column: 1 / 4;
    }

    section.center {
      grid-column: 4/17;
    }

    section.right {
      grid-column: 17/25;

      article {
        padding: var(--index-right-content-bar-padding);
        border-left: solid 1px var(--border-color);
      }
    }
  }

  &:not(#index) {
    section.left {
      position: relative;
      grid-column: 1 / 7;

      .moreMenu {
        position: absolute;
        bottom: 40px;
        left: 40px;
      }

      .languageButton {
        position: absolute;
        bottom: 40px;
        right: 40px;
      }
    }

    section.right {
      grid-column: 7/25;

      article {
        padding: 40px 0 40px;
      }
    }
  }
}

section.left,
section.center,
section.right {
  min-height: 100%;
}

section.left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 0 40px 40px;

  .mainMenu {
    position: absolute;
    top: 160px;
    left: 40px;
    font-size: var(--internal-mainnemu-font-size);
    line-height: var(--internal-mainnemu-line-height);
  }

  .moreMenu {
    font-size: var(--internal-more-menu-font-size);
    line-height: var(--internal-more-menu-line-height);

    a,
    div {
      display: block;
      margin-right: 0;
    }
  }
}

section.center {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 100px 0 40px 0;

  .mainMenu {
    font-size: var(--mainmenu-font-size);
    line-height: var(--mainmenu-line-height);
  }
}

.homeButton {
  display: block;
  width: var(--logo-width);
  height: var(--logo-height);
  background-image: url('./images/day.svg');
}

.mainMenu {
  font-family: 'Arial Narrow', Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-transform: uppercase;

  a,
  div {
    float: left;
    clear: left;
    color: var(--muted-text-color);
    text-decoration: none;

    &:link,
    &:visited {
      color: var(--muted-text-color);
      text-decoration: none;
    }

    &:hover,
    &.hover,
    &.active {
      color: var(--default-text-color);
    }
  }
}

.moreMenu {
  font-family: 'Arial Narrow', Arial, Helvetica, sans-serif;
  font-size: var(--moremenu-font-size);
  line-height: var(--moremenu-line-height);
  font-weight: 700;
  text-transform: uppercase;

  a,
  div {
    display: inline-block;
    margin-right: 20px;
    color: var(--muted-text-color);
    text-decoration: none;

    &:link,
    &:visited {
      color: var(--muted-text-color);
      text-decoration: none;
    }

    &:hover,
    &.hover,
    &.active {
      color: var(--default-text-color);
    }
  }
}

.languageButton {
  font-family: 'Arial Narrow', Arial, Helvetica, sans-serif;
  font-size: var(--moremenu-font-size);
  line-height: var(--moremenu-line-height);
  font-weight: 700;
  text-transform: uppercase;
  color: var(--muted-text-color);
  text-decoration: none;

  &:hover {
    color: var(--default-text-color);
  }
}

section.right {
  min-height: 100vh;
  overflow-y: scroll;

  article {
    min-height: 100vh;
    // max-width: 720px;
    max-width: var(--document-article-width);
    margin: 0 auto;
    font-family: 'PT Root UI', Arial, Helvetica, sans-serif;
  }
}

.zakharday {
  width: 100%;
  height: auto;
  margin-bottom: 32px;
}

body#index .zakharday {
  aspect-ratio: 495 / 659;
  background-image: url('./images/zakharday.jpg');
  background-size: cover;

  filter: grayscale(1);
  mix-blend-mode: hard-light;

  &:hover {
    filter: none;
    mix-blend-mode: normal;
  }
}

body#about .zakharday {
  aspect-ratio: 720 / 502;
  background-image: url('./images/zakharday_about.jpg');
  background-size: cover;
}

@media (max-width: 1300px) {
  body:not(#index) {
    display: block;

    .languageButton {
      display: none;
    }

    section.left {
      height: auto;
      min-height: auto;
      .mainMenu,
      .moreMenu {
        display: none;
      }
    }

    section.right {
      article {
        padding: 40px 40px 120px 40px;
      }
    }
  }
}

@media (max-width: 1200px) {
  body#index {
    section.center {
      grid-column: 4 / 22;
    }

    section.right {
      display: none;
    }
  }
}

@media (max-width: 1043px) {
  body {
    display: block;

    &#index {
      .homeButton {
        position: absolute;
        top: 50px;
        left: 40px;
      }

      .mainMenu {
        position: absolute;
        top: 160px;
        left: 40px;
      }

      .moreMenu {
        position: absolute;
        left: 40px;
        bottom: 40px;

        a,
        div {
          display: block;
          margin-right: 0;
        }
      }

      .languageButton {
        position: absolute;
        right: 40px;
        bottom: 40px;
      }

      .center {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;

        * {
          pointer-events: all;
        }
      }
    }

    &:not(#index) {
      section.right {
        overflow-y: scroll;

        article {
          max-width: 100%;
          padding: 20px 20px 60px 20px;
        }
      }
    }
  }
}

div.menuItem {
  opacity: 0.2 !important;

  &:hover {
    opacity: 0.2 !important;
    cursor: not-allowed !important;
  }
}
