:root {
  --background-color: #ededed;
  --default-text-color: #5c5c5c;
  --muted-text-color: #a3a3a3;
  --border-color: #d1d1d1;

  --logo-width: 84px;
  --logo-height: 44px;

  --mainmenu-font-size: 98px;
  --mainmenu-line-height: 88%;
  --moremenu-font-size: 20px;
  --moremenu-line-height: 88%;
  --internal-mainnemu-font-size: 32px;
  --internal-mainnemu-line-height: 120%;
  --internal-more-menu-font-size: 20px;
  --internal-more-menu-line-height: 140%;

  --h2-font-size: 32px;
  --p-font-size: 20px;
  --index-right-content-bar-padding: 40px 40px 0 40px;

  --document-article-width: 664px;
  --document-article-padding-horizontal: 48px;
  --document-article-padding-bottom: 48px;
  /* --document-heading-1-font-size: 34px;
  --document-heading-1-line-height: 48px;
  --document-heading-1-margin-top: 48px;
  --document-heading-1-font-style: normal;
  --document-heading-1-font-weight: 700; */
  --document-heading-1-font-size: 28px;
  --document-heading-1-line-height: 40px;
  --document-heading-1-margin-top: 48px;
  --document-heading-1-font-style: normal;
  --document-heading-1-font-weight: 700;
  --document-heading-2-font-size: 24px;
  --document-heading-2-line-height: 34px;
  --document-heading-2-margin-top: 48px;
  --document-heading-2-font-style: normal;
  --document-heading-2-font-weight: 700;
  --document-descriptor-font-size: 18px;
  --document-descriptor-line-height: 26px;
  --document-descriptor-margin-top: 6px;
  --document-descriptor-font-style: normal;
  --document-descriptor-font-weight: 400;
  --document-paragraph-font-size: 18px;
  --document-paragraph-line-height: 30px;
  --document-paragraph-margin-top: 12px;
  --document-paragraph-font-style: normal;
  --document-paragraph-font-weight: 400;
  --document-ul-margin-top: 6px;
  --document-ul-p-margin-top: 14px;
  --document-ol-margin-top: 6px;
  --document-ol-p-margin-top: 14px;
  --document-li-font-size: 18px;
  --document-li-line-height: 28px;
  --document-li-margin-top: 6px;
  --document-li-font-style: normal;
  --document-li-font-weight: 400;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #1a1a1a;
    --default-text-color: #a3a3a3;
    --muted-text-color: #5c5c5c;
    --border-color: #3b3b3b;
  }
}

@media (max-width: 1600px) {
  :root {
    /* --logo-width: 84px; */
    /* --logo-height: 44px; */
    --mainmenu-font-size: 88px;
    --h2-font-size: 28px;
    --p-font-size: 18px;
    --index-right-content-bar-padding: 35px 35px 0 35px;
  }
}

@media (max-width: 1440px) {
  :root {
    /* --logo-width: 84px; */
    /* --logo-height: 44px; */
    --mainmenu-font-size: 72px;
    --h2-font-size: 24px;
    --p-font-size: 15px;
    --index-right-content-bar-padding: 30px 30px 0 30px;
  }
}

@media (max-width: 1043px) {
  :root {
    --mainmenu-font-size: 32px;
    --mainmenu-line-height: 120%;
    --moremenu-font-size: 22px;
    --moremenu-line-height: 140%;
  }
}
