<section class="left">
  <a href="index.html" class="homeButton"></a>

  <menu class="mainMenu">
    <a href="about.html" id="about">About</a>
    <a href="projects.html" id="projects">Projects</a>
    <a href="student-projects.html" id="student-projects">Student projects</a>
    <a href="tutorials.html" id="tutorials">Tutorials</a>
    <a href="tools.html" id="tools">Tools</a>
    <a href="mentorship.html" id="mentorship">Mentorship</a>
    <a href="contact.html" id="contact">Contact</a>
  </menu>

  <menu class="moreMenu">
    <a href="latest-news.html" id="latest_news">Latest news</a>
    <a href="support-a-project.html" id="support_a_project">Support a project</a>
    <a href="follow-on-the-web.html" id="follow_on_the_web">Follow on the Web</a>
  </menu>
</section>
