<section class="left">
  <a href="/ru/index.html" class="homeButton"></a>
  <a href="/" class="languageButton" id="en">EN</a>
</section>

<section class="center">
  <menu class="mainMenu">
    <a class="menuItem" href="/ru/about.html" id="about">О себе</a>
    <a class="menuItem" href="/ru/projects.html" id="projects">Проекты</a>
    <a class="menuItem" href="/ru/student-projects.html" id="student-projects">Проекты студентов</a>
    <a class="menuItem" href="/ru/mentorship.html" id="mentorship">Менторство</a>
    <a class="menuItem" href="/ru/tutorials.html" id="tutorials">Учебные материалы</a>
    <a class="menuItem" href="/ru/tools.html" id="tools">Инструменты</a>
  </menu>

  <menu class="moreMenu">
    <a class="menuItem" href="/ru/latest-news.html" id="latest_news">Последние новости</a>
    <a class="menuItem" href="/ru/support-a-project.html" id="support_a_project">Поддержать проект</a>
    <a class="menuItem" href="/ru/follow-on-the-web.html" id="follow_on_the_web">Следить в сети</a>
    <a class="menuItem" href="/ru/contact.html" id="contact">Связь</a>
  </menu>
</section>
