<section class="left">
  <a href="/ru/index.html" class="homeButton"></a>

  <menu class="mainMenu">
    <a href="/ru/about.html" id="about">О себе</a>
    <a href="/ru/expertise.html" id="expertise">Экспертиза</a>
    <!-- <a href="/ru/projects.html" id="projects">Проекты</a> -->
    <!-- <a href="/ru/student-projects.html" id="student-projects">Кураторское</a> -->
    <!-- <a href="/ru/tutorials.html" id="tutorials">Учебник</a> -->
    <!-- <a href="/ru/tools.html" id="tools">Инструменты</a> -->
    <div class="menuItem">Проекты</div>
    <div class="menuItem">Кураторское</div>
    <a href="/ru/services.html" id="services">Услуги</a>
    <!-- <div class="menuItem">Услуги</div> -->
    <div class="menuItem">Учебник</div>
    <div class="menuItem">Инструменты</div>
  </menu>

  <menu class="moreMenu">
    <!-- <a href="/ru/latest-news.html" id="latest_news">Последние новости</a> -->
    <!-- <a href="/ru/support-a-project.html" id="support_a_project">Поддержать проект</a> -->
    <!-- <a href="/ru/follow-on-the-web.html" id="follow_on_the_web">Следить в сети</a> -->
    <a href="/ru/contact.html" id="contact">Связь</a>
    <div class="menuItem">Последние новости</div>
    <div class="menuItem">Поддержать проект</div>
    <div class="menuItem">Следить в сети</div>
  </menu>

  <a href="/" class="languageButton" id="en">EN</a>
</section>
